<section>
  <%= flash_message %>

  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <br>
</section>

<section id="pets-new">
  <%= form_for [@pet] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :species %>
    <%= f.text_field :species %>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <br>
    <%= f.submit :save %>

  <% end %>
</section>