<section id="pets-new">
  <%= form_for [@user, @pet] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :species %>
    <%= f.text_field :species %>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <br>
    <%= f.submit :save %>

  <% end %>
</section>